<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0bD9Sc-WuvOYdmOnBJA6rOjJmB_OzFE0</string>
	<key>GCM_SENDER_ID</key>
	<string>889171130147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aeza.aezaFlutter</string>
	<key>PROJECT_ID</key>
	<string>aezaaezaaezaflutterfirst</string>
	<key>STORAGE_BUCKET</key>
	<string>aezaaezaaezaflutterfirst.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889171130147:ios:afd3e093f8b1232fe07e96</string>
</dict>
</plist>