<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Aeza Flutter</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>aeza_flutter</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Приложению необходим доступ к галерее для загрузки изображений в редактор для последующего их редактирования</string>
		<key>NSCameraUsageDescription</key>
		<string>Приложению необходим доступ для съемки изображений</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Приложению необходимо это разрешение для сохранения изображений</string>
		<key>NSUserNotificationUsageDescription</key>
		<string>Приложение отправляет уведомления об успешном сохранении изображения в галерею и других важных событиях.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
        <key>NSMicrophoneUsageDescription</key>
        <string>Разрешение требуется библиотекой (image_picker / permission_handler), но не используется в приложении.</string>

        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Разрешение требуется библиотекой (Firebase / permission_handler), но не используется в приложении.</string>

        <key>NSContactsUsageDescription</key>
        <string>Разрешение может требоваться библиотекой, но не используется в приложении.</string>
    </dict>
</plist>
